@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    scrollbar-width: none;
  }

.myTop{
    margin-top: 20px;
}

.cardStyle{
    display:  flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.cardStyle p{
    font-size: large;
    color: rgb(51, 50, 50);
}
.cardStyle div{
    display: flex;
    gap: 10px;
}
.bg-primary{
    background-color: #004940;
}
.bg-secondary{
    background-color: #004346;
}
.btn-color{
    background-color: #00695c;
}
.hov-color{
    background-color: #33877c;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #388e3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .scroll-to-top:hover {
    background-color: #43a047;
  }