@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    scrollbar-width: none;
  }

.myTop{
    margin-top: 20px;
}

.cardStyle{
    display:  flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.cardStyle p{
    font-size: large;
    color: rgb(51, 50, 50);
}
.cardStyle div{
    display: flex;
    gap: 10px;
}